@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


@font-face {
    font-family: 'Signatra';
    src: url("../../public/signatra/Signatra.ttf");
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #F7ECDE;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.overflow-y-hidden{
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5acb8;
    border-radius: 10px;
    background:white;
}
::-webkit-scrollbar-thumb {
    background: #b0afac;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a5acb8;
}